
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
 


} 
/*END OF MOBILE PHONE SCREEN MEDIA QUERY*/
@media only screen and (min-width: 600px) {
    /* For tablets: */
 



}
/*END OF TABLETS SCREEN MEDIA QUERY*/
@media only screen and (min-width: 768px) {
    /* For desktop: */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

wrapper {
  width: 100%;
}
h1 {
  font-size: 100px;
  color: #fff;

}

#column1 {
  display: inline-block;
  width: 50%;
  background-color: #455A64;
}

#column2 {
  display: inline-block;
  width: 50%;
  background-color: #cfd8dc;
}

.logo {
  height: 100px;
  width: 100px;
}

input {
  height: 40px;
  width: 40%;
  display: block;
  margin: 15px auto;

}


}
/*END OF DESKTOP SCREEN MEDIA QUERY*/