body {
  font-family: "Open Sans", Extra-Bold 800, Regular 400;
  font-weight: 400;
}

#column1 {
  display: inline-block;
  width: 50%;
  background-color: #455A64;
}

#column2 {
  display: inline-block;
  width: 50%;
  background-color: #cfd8dc;
}